body{ 
    margin:0 auto; 
    
}
.item {
    width: 220px;
    height: 20px;
    color: #3A1807;
    font-weight: bold;
    background-color: #BCAA71;
    text-align: center;
    line-height: 80px;
    border: 2px solid  #3A1807;
    margin: 10px; /* add this */
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 5px;
   
}

.dropbox {
    width: 220px;
    height: 20px;
    border: 2px solid gray;
    float: left;
    margin: 10px; /* add this */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 135px;
    
    }
    
    .enzymes {
        display: grid;
        place-items: center;
        font-style: italic;
        font-weight: bold;
        }
        
    
   
    .items-container {
        padding: 20px;
        flex-wrap: wrap;
        margin-left: 0px;
    }   
    
    .dropboxes-container {
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        margin-left: 100px; 
        align-items: center;
       
        justify-content: center;
        align-items: center;
    } 
    
    .dragged {
        opacity: 0.5;
        }
   
    
    .row {
    display: flex;
    width: 80%;
    }

    /* for one row each coloums delete col-right and col-left*/
    .col-right { 
        display: flex;
        width: 15%;
        
    }

    .col-left {
        display: flex;
        width: 30%;
        height: 20%;
        padding-top: 150px;
        margin-bottom: 5px;
    }

    .directions {
        padding-top: 30px;
        padding-left: 0px;
        text-align: center;
        font-weight: bold;
    }

    .intoduction {
        padding-top: 30px;
        padding-left: 60px;
        padding-right: 60px;
        text-align: center;
    }

    #result {
    padding-left: 75px;
    font-size: x-large;
    font-weight: bold;
  
    }